.card-cooler {
    width: 200px;
    height: 200px;
    background-color: rgb(35, 117, 117);

    .header-card {
        justify-content: center;
        background-color: blue;
        width: 100%;

    }
}