.card-cooler {
    background-color: rgb(35, 117, 117);
    width: 200px;
    height: 200px;
    justify-content: center;
    align-content: center;

    .header-card {
        background-color: blue;

    }
}