@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-default: #ebebeb;
    --bg-light: #6A8380;
    --bg-light2: #20494D;
    --clr-light: #E3F2FD;
    --clr-deep: #04272d;
    --clr-none: transparent;
    --clr-dark: #001512;
    --clr-on: #02cdad;
    --clr-text: #F2E1C7;
    --clr-text2: #D1C2A5;
    --clr-error: #ff8484;
    --clr-border: #ccc;
    --clr-error-border: #bb2d2d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style-type: none;
}

body {
    background: var(--bg-default);
    color: var(--clr-text);
}

a {
    text-decoration: none;
    color: inherit;
}


/* Dashboard  */
/* navbar top */

.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light2);
    padding: 10px 10px 10px 10px;
    /* padding-left: 20px; */
    /* width: 149.9em; */
    /* width: 100vw; */
    /* height: 4em; */

    /* .button-main {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 20pt;
        margin-left: 12px;
        padding-top: 10px;
        color: var(--clr-text2);
    } */


}



/* sidebar */

.sidebar {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    height: 100em;
    width: 12em;
    color: var(--clr-text);
    background-color: var(--bg-light);
    padding-top: 20px;
    padding-bottom: 20px;

    .menu {
        text-align: center;
        margin-top: 9px;
    }

    .panel .control-panel {
        font-size: 16pt;
        color: #001512;
    }

    .panel .control-panel :hover {
        color: var(--clr-on);
    }

    .panel .span-register {
        color: #001512;
    }
    
    .panel .span-register :hover {
        color: var(--clr-on);
    }

    .menu .submenu {
        background-color: var(--bg-light2);
        border-radius: 17px;
        width: 50mm;
        margin-left: 7px;
        margin-right: 15px;


    }

    .submenu i {
        color: #001512;
    }

    .submenu li :hover {
        color: var(--clr-on);
    }

}

/**Editing scrollbar**/
::-webkit-scrollbar-track {
    background-color: var(--bg-light);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-deep);
    border-radius: 3px;
}

/* Interaction script */