@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-default: #ebebeb;
    --bg-light: #6A8380;
    --bg-light2: #20494D;
    --clr-light: #E3F2FD;
    --clr-deep: #04272d;
    --clr-none: transparent;
    --clr-dark: #001512;
    --clr-on: #02cdad;
    --clr-text: #F2E1C7;
    --clr-text2: #D1C2A5;
    --clr-error: #ff8484;
    --clr-border: #ccc;
    --clr-error-border: #bb2d2d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style-type: none;
}

body {
    display: flex;
    background: var(--bg-default);
    color: var(--clr-text);
}

a {
    text-decoration: none;
    color: inherit;
}


/* Dashboard  */

.menubar {
    background-color: var(--bg-light2);
    padding-left: 20px;
    width: 149.9em;
    height: 4em;

    .button-main {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 20pt;
        margin-left: 12px;
        padding-top: 10px;
        color: var(--clr-text2);
    }

    .search-cooler {
        background-image: url('../img/Vector_search_icon.svg.png') 10px;
        background-position: top;
    }
}


.sidebar {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    height: 100em;
    width: 12em;
    color: var(--clr-text);
    background-color: var(--bg-light);
    padding-top: 20px;
    padding-bottom: 20;

    .menu {
        text-align: center;
    }

    .menu .submenu {
        background-color: var(--clr-error-border);
        width: 50mm;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.sidebar .menu :hover {
    color: var(--clr-on);
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 3px;
}