@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@media(max-width:768px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
        
    }
}

:root {
    --bg-default: #ebebeb;
    --bg-light: #6A8380;
    --bg-light2: #20494D;
    --clr-light: #E3F2FD;
    --clr-deep: #04272d;
    --clr-none: transparent;
    --clr-dark: #001512;
    --clr-on: #02cdad;
    --clr-text: #F2E1C7;
    --clr-text2: #D1C2A5;
    --clr-error: #ff8484;
    --clr-border: #ccc;
    --clr-error-border: #bb2d2d;
}

* {
    box-sizing: border-box;
    font-family: 'poppins';

}

body {
    width: 100%;
    height: 100%;
}

.container-1 {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91.8vh;

    /** set´s svg alert **/

    .alert-register-sucess {
        .alert {
            margin-left: 25px;
            padding-right: 5px;
        }

        svg {
            height: 17mm;
            width: 17mm;
            padding: 20px 0 10px 0px;
        }

        div {
            padding-top: 13px;
            height: 3em;
            width: 27em;
        }
    }
}


.navbar {
    background-color: var(--bg-light2);
    position: fixed;
    width: 100%;

    a {
        font-size: 10pt;
    }
}


.side-bar-layout {
    background-color: var(--bg-light);
    width: 10em;
    height: 100%;

    .list {
        margin-left: 4px;

        a {
            width: 9.5em;
        }
    }


    .dropdownSide {
        background-color: var(--bg-default);
        width: 9.5em;
        font-weight: 480;
    }

    button {
        border: none;
        width: 11.3em;
        font-size: 14.5px;
        font-weight: 480;
        border-left: none;
    }

    .dropdown-item {
        background-color: var(--bg-default);
        width: 9.7em;
        font-weight: 480;
    }

    .dropdown-item :focus {
        background-color: #2b9686;
    }
}


.main-content {
    flex: 1;
    padding: 30px 25px 0px 25px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;

}