@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-default: #ebebeb;
    --bg-light: #6A8380;
    --bg-light2: #20494D;
    --clr-light: #E3F2FD;
    --clr-deep: #04272d;
    --clr-none: transparent;
    --clr-dark: #001512;
    --clr-on: #02cdad;
    --clr-text: #F2E1C7;
    --clr-text2: #D1C2A5;
    --clr-error: #ff8484;
    --clr-border: #ccc;
    --clr-error-border: #bb2d2d;
}

* {
    box-sizing: border-box;
    font-family: 'poppins';

}

.container-1 {
    display: flex;
    width: 90%;
}

.container-layout {
    display: flex;
    flex-direction: column;
    width: 90%;

    .alert-register-sucess {
        .alert {
            margin-left: 25px;
            background-color: #02cdad;
        }

        svg {
            padding: 30px 0 0 20px;
        }
    }
}


.navbar {
    background-color: var(--bg-light2);

    a {
        font-size: 10pt;
    }
}

.sidebar {
    width: 170px;
    background-color: var(--bg-light);
    padding-top: 15px;
    font-weight: 510;

    .side-bar-layout {
        width: 10em;
        height: calc(100.3vh - 92px);
        margin-left: 5.4px;

        .side-bar-list {
            padding-left: 10em;
            margin: 0px auto;
            width: 10.4em;
        }

        .dropdownSide {
            background-color: var(--bg-default);
            width: 100%;
            border-color: var(--clr-none);
            font-weight: 480;

            button {
                padding: 10px;
                font-size: 14.5px;
                font-weight: 480;
            }

            .dropdown-item {
                background-color: var(--bg-default);
                width: 9.7em;
                font-weight: 480;
            }
        }


    }
}

.main-content {
    flex: 1;
    padding: 25px;
    width: calc(170vh - 12em);
    height: 67vh;
    display: flex;
    justify-self: center;

}