* {
    margin: 4px;
    padding: 2px;
    background-color: rgb(231, 233, 232);
}

.formRegister {
    height: 100px;
    width: 250;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 139, 214);
}

form,
label {
    display: block;
    padding: 10px;
}

label {
    color: #FFF;
    text-align: right;
}

form {
    width: 270px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

input {
    display: inline-block;
    padding-left: 10px;
}